.Navbar {
  width: 10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.navbar-container {
  width: 80%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.4em;
  color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid;
}
.navbar-item {
  font-size: 2.2em;
  text-align: center;
}
.navbar-item > p {
  font-size: 0.5em;
}
@media screen and (max-width: 700px) {
  .Navbar {
    width: 20%;
  }
  .navbar-container {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
